.page-calculator {
  display: flex;
  height: 100vh;

  padding: 30px;

  justify-content: center;
  align-items: center;
}

.page-calculator .calculator {
  max-width: 500px;
  width: 100%;

  padding: 40px 32px;

  display: flex;

  align-items: center;
  flex-direction: column;

  border: 1px solid #212121;
}

.page-calculator .calculator h1 {
  text-align: center;

  font-size: 24px;
  margin-bottom: 32px;
}

.page-calculator .calculator ul {
  margin-bottom: 64px;
}

.page-calculator .calculator ul li {
  display: flex;
  align-items: center;
}

.page-calculator .calculator ul li + li {
  margin-top: 8px;
}

.page-calculator .calculator ul li strong {
  color: #333;
}

.page-calculator .calculator ul li input {
  width: 50px;

  border: 1px solid #ddd;
  border-radius: 4px;

  margin: 0 16px;

  padding: 6px;
}

.page-calculator .calculator footer div strong {
  display: block;
  line-height: 24px;

  text-align: center;
}

.page-calculator .calculator footer div p {
  text-align: center;
}

@media (max-width: 500px) {
  .page-calculator .calculator ul li {
    flex-direction: column;
  }

  .page-calculator .calculator ul li + li {
    padding-top: 8px;

    border-top: 1px solid #999;
  }

  .page-calculator .calculator ul li input {
    margin-top: 4px;
  }

  .page-calculator .calculator ul li strong.total {
    margin-top: 4px;
  }
}
